
   p{color: orange;}
   h1{color:yellow ;}
   body{background-color: aqua;}
   table{color: red;}
   button{background-color: blue;}
   table th,td {margin:1px solid; border: 1px solid;padding: 2px;}
   img{padding: 50px;}
   body2 p{margin: 1px solid;border: 1px solid;padding: 2px;}
   body div1{border: 50px; margin-left: 250px;}